html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.overlayed {
  overflow: hidden;
}

@media (max-width: '500px') {
  .mobile-invisible {
    display: none !important;
  }
}
